@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans+KR&family=Roboto:wght@300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* header */
#header { 
    width: 290px; 
    position: fixed;
    top: 0; left: 0; height: 100%; 
    background: #FFFFFF;
    padding-bottom:25px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}
#header h1 {
    text-align: center;
    padding: 50px 15px;
}
#nav .depth1 {
    padding-bottom: 250px;
}
#nav .depth1 > li {
    padding: 0 45px;
    color: #626262;
    font-size: 11px;
    font-weight: bold;
    transition: all 0.4s;
}
#nav .depth1 > li:hover {
    color: #939393;
}
#nav .depth1 > li > a {
    display: inline-block;
    width: 200px;
    padding: 19.5px 0;
    border-bottom: 1px solid #ededed;
    position: relative;
} 
#nav .depth1 > li > a > i {
    position: absolute;
    right: 0;
    font-size: 9px;
    margin-top: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#nav .depth2 {
    position: absolute;
    top: 0%;
    left: 100%;
    text-align: left;
    background: #fbfbfb;
    width: 290px;
    height: 100%;
    display: none;
    padding-top: 130px;
}
#nav .depth2 > li {
    padding: 0 45px;
    color: #939393;
    font-size: 11px;
    font-weight: 500;
    transition: all 0.4s;
}
#nav .depth2 > li:hover{
    color: #000000;
}
#nav .depth2 > li > a {
    display: inline-block;
    width: 200px;
    padding: 19.5px 0;
    border-bottom: 1px solid #ededed;
    position: relative;
}
#nav .depth2 > li > a > i {
    position: absolute;
    right: 0;
    font-size: 9px;
    margin-top: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#nav .depth3 {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    text-align: left;
    background: #f3f3f3;
    width: 290px;
    height: 100%;
    padding-top: 130px;
}
#nav .depth3 > li {
    padding: 0 45px;
    color: #939393;
    font-size: 11px;
    font-weight: 500;
    transition: all 0.4s;
}
#nav .depth3 > li > a {
    display: inline-block;
    width: 200px;
    padding: 19.5px 0;
    border-bottom: 1px solid #ededed;
}
#nav .depth3 > li:hover {
    color: #000000;
}


#header #address { 
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 15px 20px;
    background:#FFFFFF
}
#header #address .socials {
    width: 260px;
    font-size: 18px;
    padding-top: 21px;
    margin-bottom: 29px;
    text-align: center;
}
#header #address .socials i {
    padding: 0 8px;
}
#header #address p {
    padding-top: 31px;
    color: #939393;
    border-top: 1px solid #ededed;
    font-size: 11px;
    text-align: center;
    font-size: 11px;
}

.openbtn {
    display: none;
}



/* footer */
#footer {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 290px;
}

#footer .f_info {
    background: #1c1c1c;
    padding: 60px 30px; 
    color: #6f6f6f;
    line-height: 20px;
    height: 100%;
}
#footer .row {
    display: inline-block;
}
#footer .f_info .row > div {
    width: 25%;
    height: 200px;
    float: left;
    border-right: 1px solid #2d2d2d;
}
#footer .f_info > .row > div:last-child {
    border-right: none;
}
#footer .f_info h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #939393;
}


#footer .f_info_content{
    padding: 0 15px;
}
#footer .f_info_content p {
    margin: 25px 0;
    margin-right: 10px;
}
#footer .f_info_content .socials {
    font-size: 19px;
    color: #fff;
}
#footer .f_info_content .socials i {
    margin-right: 15px;
    transition: all 0.5s;
}
#footer .f_info_content .socials a:last-child > i {
    margin-right: 0;
}
#footer .f_info_content .socials i:hover {
    color: #ff5519;
}


#footer .f_info_links{
    padding: 0 15px 0 30px;
}
#footer .f_info_links li a{
    line-height: 25px;
    transition: all 0.5s;
}
#footer .f_info_links li a:hover{
    color: #ff5519;
}


#footer .f_info_contact {
    padding: 0 15px 0 30px;
}
#footer .f_info_contact > p {
    line-height: 25px;
}
#footer .f_info_contact > p:nth-child(3) {
    padding-bottom: 15px;
}
#footer .f_info_contact a{
    transition: all 0.5s;
}
#footer .f_info_contact a:hover{
    color: #ff5519;
}
#footer .f_info_contact > a {
    text-decoration: underline;
}
#footer .f_info_contact > a:hover{
    text-decoration: none;
}

#footer .f_info_portfolio{
    padding: 0 15px 0 30px;
}


#footer .f_policy {
    background: #141414;
    color: #626262;
    padding: 50px 0;
    padding-right: 50px;
}
#footer .f_policy > div{
    float: left;
    width: 50%;
    padding: 0 25px;
}
#footer .f_policy a {
    padding: 0 10px;
    transition: all 0.5s;
}
#footer .f_policy a:first-child {
    border-right: 1px solid #626262;
}
#footer .f_policy a:hover {
    color: #ff5519;
}
#footer .left_text {
    text-align: left;
}
#footer .right_text {
    text-align: right;
}



/* 하단 화살표 */
#gotop { 
    position:fixed; 
    right:50px; 
    bottom:50px; 
    z-index:9999999; 
    display: none;
}
#gotop a { 
    display:block;
    width:33px; 
    height:33px; 
    border-radius:50%; 
    background: #878787; 
    color:#fff; 
    text-align:center;
    font-size:16px; 
    line-height:33px;
    transition:all 0.4s;
}
#gotop a:hover { 
    background: #000;
}


/* 인트로 애니메이션 */
.introAni {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    color: #fff;
    font-size: 50px;
    text-align: center;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introAni > div {
    padding-bottom: 20px;
}