@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+KR&family=Roboto:wght@300;400;500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* article1 */
.article1 {
    width: 100%;
    height: 100vh;
    background: url(../img/main.jpg) no-repeat center top;
    background-size:cover;
    position: relative;
}

.article1 .textbox {
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    left: 55%;
    padding: 90px;
    background: rgba(255, 255, 255, 0.85);
    width: 40%;
}

.article1 .textbox h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    line-height: 95px;
    font-weight: 700;
    color: #232323;
    width: auto;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 35px;
}

.article1 .textbox > p {
    padding: 35px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #626262;
}

.article1 .textbox > a {
    display: inline-block;
    letter-spacing: .5px;
    border: 2px solid #232323;
    padding: 12px 25px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background: #232323;
    font-weight: 600;
    color: #fff;
    transition: all 0.4s;
}

.article1 .textbox > a:hover {
    background: #fff;
    color: #232323;
}



/* article2 */
.article2 {
    background: #1c1c1c;
    padding: 130px 20px;
    margin-left: 290px;
}

.article2 > div {
    display: inline-block;
    width: 27%;
    margin: 0 30px;
}

.article2 .title {
    display: table;
    padding-bottom: 15px;
}

.article2 .title h3 {
    display: table-cell;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 54px;
    color: #939393;
    letter-spacing: -1px;
}

.article2 .title > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #6f6f6f;
}

.article2 .textbox > p {
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding-right: 60px;
    padding-bottom: 25px;
}

.article2 .textbox:after {
    content: "";
    display: block;
    width: 15%;
    border-bottom: 1px solid #ff5519;
}



/* article3 */
.article3 {
    background: #fff;
    padding: 150px 20px 150px 40px;
    margin-left: 290px;
}

.article3 ul {
    overflow: hidden;
}

.article3 ul li {
    float: left;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 20px;
    height: 100%;
}

.article3 ul li:nth-child(3n) {
    margin-right: 0
}

.article3 ul li:nth-child(3n+1) {
    clear: both;
}

.article3 ul li .icon {
    float: left;
    width: 10%;
    font-size: 40px;
    padding: 0 5px;
    color: #939393;
}

.article3 ul li .text {
    float: left;
    width: 90%;
    padding-left: 30px;
}

.article3 ul li .text > h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
}

.article3 ul li .text > p {
    font-family: 'Roboto', sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}




/* article4 */
.article4 {
    margin-left: 290px;
    padding: 0 40px 40px 40px;
    height: 50vw;
}

.article4 ul {
    height: 100%;
}

.article4 ul > li{
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}

.article4 ul > li:nth-child(1) #subbox1 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 ul > li:nth-child(1) #subbox2 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 ul > li:nth-child(2) #subbox{
    background: url(../img/800x1600.png) no-repeat center;
    background-size:cover;
    height: 100%;
}

.article4 ul > li:nth-child(3) #subbox1 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 ul > li:nth-child(3) #subbox2 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 ul > li:nth-child(4) #subbox1 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 ul > li:nth-child(4) #subbox2 {
    background: url(../img/800x800.png) no-repeat center;
    background-size:cover;
    height: 50%;
}

.article4 li > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
}

.article4 li > div:hover::before {
    background: #ff5519;
    z-index: 9;
}

.article4 ul li > div {
    position: relative;
}
.article4 li #title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
    z-index: 10;
}

.article4 li > div:hover #title{
    opacity: 1;
}




/* article5 */
.article5 {
    margin-left: 290px;
    padding: 100px 50px 0px 50px;
    text-align: center;
}

.article5 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #1C1C1C;
    font-weight: 700;
    margin-bottom: 25px;
}

.article5 > p {
    font-family: 'Roboto', sans-serif;
    color: #6f6f6f;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.article5 .first_ul li .imgbox {
    background: url(../img/600x909.png) no-repeat center;
    background-size: cover;
    height: 100%;
}
.article5 .first_ul{
    padding: 100px 10px;
    overflow: hidden;
}

.article5 .first_ul li {
    float: left;
    width: 24%;
    margin-right: 10px; 
    height: 45vh;
    position: relative;
}

.article5 .first_ul li:last-child {
    width: 48%;
    margin-right: 0;
}

.article5 .first_ul li .aboutbox {
    padding: 100px 80px;
    background: #1c1c1c;
    text-align: left;
    height: 100%;
}

.article5 .first_ul li .aboutbox h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #939393;
    padding-top: 10px;
}

.article5 .first_ul li .aboutbox p{
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
}

.article5 .first_ul li .aboutbox a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

.article5 .first_ul li .aboutbox a i{
    color: #ff5519;
    padding-left: 3px;
}

.article5 .first_ul li:nth-child(1) > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
}

.article5 .first_ul li:nth-child(2) > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
}

.article5 .first_ul li:nth-child(1) > div:hover::before {
    background: #ff5519;
    z-index: 9;
}

.article5 .first_ul li:nth-child(2) > div:hover::before {
    background: #ff5519;
    z-index: 9;
}

.article5 .first_ul li:nth-child(1) > div {
    position: relative;
}

.article5 .first_ul li:nth-child(2) > div {
    position: relative;
}

.article5 .first_ul li .imgbox #title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
    z-index: 10;
}

.article5 .first_ul li .imgbox:hover #title{
    opacity: 1;
}

.article5 .second_ul {
    overflow: hidden;
    border-top:1px solid #eeeaea;
}
.article5 .second_ul li {
    float: left;
    width: 25%;
    padding: 70px 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-weight: 500;
    border-right: 1px solid #eeeaea;
}

.article5 .second_ul li:last-child {
    border-right: none;
}

.article5 .second_ul li > div i{
    padding-bottom: 25px;
    font-size: 30px;
    color: #636363;
    transition: all 0.4s;
}

.article5 .second_ul li > div {
    transition: all 0.4s;
}

.article5 .second_ul li > div:hover{
    color: #ff5519;
    transform: scale(1.1);
}

.article5 .second_ul li > div:hover i{
    color: #ff5519;
    transform: scale(1.1);
}




/* article6 */
.article6 {
    margin-left: 290px;
    padding: 100px 100px;
    background: #1c1c1c;
}

.article6 .mainbox {
    height: 40vh;
    position: relative;
}
.article6 .mainbox > div{
    float: left;
    width: 29%;
    margin: 0 20px;
}

.article6 .contentsbox1 > div {
    overflow: hidden;
}
.article6 .contentsbox1 > div > div {
    float: left;
    padding: 40px 0;
    border-bottom: 1px solid #2d2d2d;
}
.article6 .contentsbox1 .icon {
    width: 8%;
    color: #6f6f6f;
    font-size: 30px;
    padding-right: 60px;
    padding-bottom: 40px;
}
.article6 .contentsbox1 .text {
    width: 80%;
    color: #6f6f6f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.article6 .contentsbox1 > div:nth-child(3n+1) {
    clear: both;
}

.article6 .imgbox {
    background: url(../img/783x820.png) no-repeat center;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.article6 .imgbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
}
.article6 .imgbox:hover{
    background: #ff5519;
}
.article6 .imgbox #title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
    z-index: 10;
}
.article6 .imgbox:hover #title{
    opacity: 1;
}

.article6 .contentsbox2 {
    padding: 30px 0;
}
.article6 .contentsbox2 h3 {
    line-height: 22px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #939393;
    padding-bottom: 20px;
}
.article6 .contentsbox2 p {
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 35px;
}

.article6 .contentsbox2 a {
    letter-spacing: .5px;
    border: 2px solid #fff;
    padding: 8px 18px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background: #1c1c1c;
    font-weight: 600;
    color: #fff;
    transition: all 0.4s;
}

.article6 .contentsbox2 a:hover {
    background: #fff;
    color: #1c1c1c;
}




/* article7 */
.article7 {
    margin-left: 290px;
    padding: 100px 80px; 
    text-align: center;
}

.article7 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #1C1C1C;
    font-weight: 700;
    margin-bottom: 10px;
}
.article7 > p {
    font-family: 'Roboto', sans-serif;
    color: #6f6f6f;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
.article7 > span {
    display: inline-block;
    content: "";
    background:  #ff5519;
    width: 120px;
    height: 1px;
    margin: 3px 0px;
}

.article7 .news {
    overflow: hidden;
    padding-top: 100px;
}
.article7 .news li {
    float: left;
    width: 25%;
    padding-right: 25px;
}
.article7 .news li .pics {
    background: url(../img/900x650.png)no-repeat center;
    background-size: cover;
    height: 20vh;
}
.article7 .news li .text {
    text-align: left;
    padding: 20px 0;
}
.article7 .news li .text p:nth-child(1) {
    font-size: 12px;
    color: #939393;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}
.article7 .news li .text h3 {
    padding-bottom: 10px;
    font-size: 15px;
    color: #6f6f6f;
    font-family: 'Roboto', sans-serif;
}

.article7 .news li .text > span {
    display: inline-block;
    content: "";
    background:  #eeeaea;
    width: 100%;
    height: 1px;
    margin-bottom: 3px;
}

.article7 .news li .text p:last-child {
    font-size: 14px;
    color: #939393;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
