@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&family=Roboto&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

.article1 {
    width: 100%;
    height: 908px;
    background: url(../img/main.jpg) no-repeat center top;
    background-size:cover;
}