@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans+KR&family=Roboto:wght@300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

.article1 {
    width: 100%;
    height: 100vh;
    background: url(../img/main.jpg) no-repeat center top;
    background-size:cover;
    position: relative;
}

.article1 .textbox {
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    left: 40%;
    padding: 6%;
    background: rgba(255, 255, 255, 0.85);
    width: 50%;
}

.article1 .textbox h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    line-height: 95px;
    font-weight: 700;
    color: #232323;
    letter-spacing: -2px;
    width: auto;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 35px;
}

.article1 .textbox > p {
    padding: 35px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #626262;
}

.article1 .textbox > a {
    display: inline-block;
    letter-spacing: .5px;
    border: 2px solid #232323;
    padding: 12px 25px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background: #232323;
    font-weight: 600;
    color: #fff;
    transition: all 0.4s;
}

.article1 .textbox > a:hover {
    background: #fff;
    color: #232323;
}