@charset "utf-8";

@media screen and (max-width: 1524px) {

    .article5 .first_ul li {
        width: 48%;
        padding-bottom: 20px;
    }
    
    .article5 .first_ul li:last-child {
        width: 97%;
        height: 25vw;
        padding-bottom: 0;
    }
    
    .article6 {
        padding: 100px 0;
    }
    .article6 .mainbox > li{
        margin: 0 15px;
    }

}

@media screen and (max-width: 1360px) {
    .article1 .textbox h2 {
        font-size: 70px;
        line-height: 55px;
    }

    .article5 .first_ul li:last-child {
        height: 30vw;
    }
}


@media screen and (max-width: 991px) {
    .article1 .textbox {
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 60px;
        width: 90%;
        text-align: center;
    }
    .article1 .textbox h2 {
        font-size: 70px;
        line-height: 65px;
    }
    .article1 .textbox > p {
        font-size: 18px;
        line-height: 24px;
    }


    .article2 {
        margin-left: 0;
    }


    .article3 {
        margin-left: 0;
    }


    .article4 {
        margin-left: 0;
        height: 200vh;
    }
    .article4 ul > li{
        width: 50%;
        height: 50%;
    }


    .article5 {
        margin-left: 0;
    }


    .article6 {
        margin-left: 0;
    }
    .article6 .list > li {
        padding-bottom: 30px;
    }
    .article6 .list > li > .text {
        width: 70%;
        font-size: 14px;
    }
    .article6 .mainbox > li:nth-child(3) {
        padding-top: 30px
    }


    .article7 {
        margin-left: 0;
    }
    .article7 .news li {
        width: 100%;
        padding-right: 0;
        padding-bottom: 80px;
    }
    .article7 .news li .pics {
        height: 45vh;
    }
}